.outer-div{
    width: 100%;
    height: 500px;
    background-color: darkgreen;
    padding: 10;
}
.box1{
    width: 40%;
    height: 25%;
    background-color: #fcba03;
    float:left;
    margin: 20px;
}
.box2{
    width: 40%;
    height: 25%;
    background-color: #b1fc03;
    float: left;
    margin: 20px;
}
.box3{
    width: 40%;
    height: 25%;
    background-color: #538c78;
    float: left;
    margin: 20px;
}
.box4{
    width: 40%;
    height: 25%;
    background-color: rgb(127, 109, 230);
    float: left;
    margin: 20px;
}