.main-body{
    width: 400px;
    height: 550px;
    margin-left: 440px;
    border: solid 1px;
    background: hwb(210 36% 29%);
}
.input{
    width: 350px;
    height: 50px;
    margin-left: 20px;
    margin-top: 25px;
    pointer-events: none;
}
.btn{
    width: 60px;
    height: 55px;
    margin-left: 30px;
    margin-top: 25px;
    background: ivory;
}
